<div class="container afterlogin">
  <div class="logins-header hosital-info-header row">
    
        <div class="col-md-3 data-column">
            <span class="data-title">نوع مرکز درمانی:</span>
            <span class="data-info">بیمارستان</span>
          </div>
          <div class="col-md-3 data-column">
              <span class="data-title">نام مرکز درمانی:</span>
              <span class="data-info">بیمارستان و زایشگاه کوثر</span>
            </div>
            <div class="col-md-3 data-column">                
              </div>
              <div class="col-md-3 data-column">
                  <a href=#>سایر خدمات</a>
              </div>
    
    
  </div>
  <div class="panel panel-default card">
      <div class="panel-body">
          <div class="card-title">
              اطلاعات بیمه شده
          </div>
          <div class="card-body">
              <div class="row">
                  <div class="col-md-3 data-column">
                      <label for="internationalcode" class="data-title"> کد ملی </label>
                      <input type="text" id="internationalcode" class="form-control" value="10628592"/> 
                    </div>
                    <div class="col-md-3 data-column">
                        <label for="ensurecode" class="data-title"> کد رایانه شده بیمه </label>
                        <input type="text" id="ensurecode" class="form-control" value="132"/> 
                      </div>
                      <div class="col-md-3 data-column">
                          <label for="ensurance" class="data-title"> بیمه گذار  <span class="need-fill">*</span></label>
                  
                          <select id="ensurance" class="form-control">
                            <option selected>سازمان بازنشستگی کشور</option>
                            <option>تامین اجتماعی</option>
                            <option>سلامت</option>
                          </select>
                        </div>
                        <div class="col-md-3 data-column">
                          
                          </div>

              </div>
              <div class="row">
                  <div class="col-md-3 data-column">
                      <div class="data-column-unit">
                      <span class="data-title">نام بیمه شده:</span>
                      <span class="data-info">محمد باقر نعمتی</span>
                      </div>
                    </div>
                    <div class="col-md-3 data-column">
                        <div class="data-column-unit">
                        <span class="data-title">شماره شناسنامه:</span>
                      <span class="data-info">234</span>
                      </div>
                      </div>
                      <div class="col-md-3 data-column">
                          <div class="data-column-unit">
                              <span class="data-title">سال تولد:</span>
                              <span class="data-info">1359</span>
                            </div>
                        </div>
                        <div class="col-md-3 data-column">
                            <div class="data-column-unit">
                                <span class="data-title">وضعیت تکفل :</span>
                                <span class="data-info">تحت تکفل</span>
                              </div>
                          </div>

              </div>

              <div class="row">
                  <div class="col-md-3 data-column">
                      <div class="data-column-unit">
                          <span class="data-title">جنسیت :</span>
                          <span class="data-info">مرد</span>
                        </div>
                    </div>
                    <div class="col-md-3 data-column">
                        <div class="data-column-unit">
                            <span class="data-title">تاریخ اعتبار بیمه شده :</span>
                            <span class="data-info">1397/06/01</span>
                          </div>
                      </div>
                      <div class="col-md-3 data-column">
                          <div class="data-column-unit">
                              <span class="data-title">شماره بیمه گر اول :</span>
                        <span class="data-info">23245</span>
                            </div>
                        </div>
                        <div class="col-md-3 data-column">
                            <div class="data-column-unit">
                                <span class="data-title">شماره کامل بیمه نامه   :</span>
                                <span class="data-info">23434-245</span>
                              </div>
                          </div>

              </div>

              <div class="row">
                  <div class="col-md-3 data-column">
                      <div class="data-column-unit">
                          <span class="data-title">شماره بیمه نامه :</span>
                      <span class="data-info">11</span>
                        </div>
                    </div>
                    <div class="col-md-3 data-column">
                        <div class="data-column-unit">
                            <span class="data-title">تاریخ شروع پویش بیمه شده :</span>
                            <span class="data-info">1394/01/01</span>
                          </div>
                      </div>
                      <div class="col-md-3 data-column">
                          <div class="data-column-unit">
                              <span class="data-title">تاریخ پایان پویش بیمه شده :</span>
                      <span class="data-info">1397/01/01</span>
                            </div>
                        </div>
                        <div class="col-md-3 data-column">
                            <div class="data-column-unit">
                                <span class="data-title">نسبت :</span>
                            <span class="data-info">سرپرست</span>
                              </div>
                          </div>

              </div>

              <div class="row">
                  <div class="col-md-3 data-column">
    

                  <div class="data-column-unit">
                          <span class="data-title">کد پرسنلی :</span>
                        <span class="data-info">11232435</span>
                        </div>
                    </div>
                    <div class="col-md-3 data-column">
                        <div class="data-column-unit">
                            <span class="data-title">نوع ورود :</span>
                            <span class="data-info">لیست اولیه</span>
                          </div>
                      </div>
                      
              </div>
              
                         
                          
          </div>
          <div class="card-title">
              اطلاعات تماس بیمه شده
          </div>
          <div class="card-body row">
            
              <div class="col-md-3 data-column">
                  <label for="ensurance" class="data-title"> استان   <span class="need-fill">*</span></label>               
                  <select id="ensurance" class="form-control">
                    <option selected>تهران</option>
                    <option>خراسان</option>
                    <option>گیلان</option>
                  </select>
              </div>
              <div class="col-md-3 data-column">
                  <label for="ensurance" class="data-title"> شهر   <span class="need-fill">*</span></label>               
                  <select id="ensurance" class="form-control">
                    <option selected>تهران</option>
                    <option>اسلامشهر</option>
                    
                  </select>
              </div>
              <div class="col-md-3 data-column">
                  <label for="mobile" class="data-title"> شماره تلفن   <span class="need-fill">*</span></label>               
                  <input type="text" id="mobile" class="form-control" value="0919344455"/> 
              </div>
          </div>
          <div class="card-body row">
            <div class="col-md-6">
                <label for="address" class="data-title">آدرس دوم<span class="need-fill">*</span></label>               
                <input type="text" id="address" class="form-control" value="خیابان فلسطین، تقاطع انقلاب"/>
            </div>
          </div>

          <div class="card-title">
              اطلاعات تحویل دهنده مدارک  
          </div>
          <div class="card-body row">
              <div class="col-md-3 data-column">
                  <label for="ensurance" class="data-title"> استان   <span class="need-fill">*</span></label>               
                  <select id="ensurance" class="form-control">
                    <option selected>تهران</option>
                    <option>خراسان</option>
                    <option>گیلان</option>
                  </select>
              </div>
              <div class="col-md-3 data-column">
                  <label for="ensurance" class="data-title"> شهر   <span class="need-fill">*</span></label>               
                  <select id="ensurance" class="form-control">
                    <option selected>تهران</option>
                    <option>اسلامشهر</option>
                    
                  </select>
              </div>
              <div class="col-md-3 data-column">
                  <label for="ensurance" class="data-title"> نوع    <span class="need-fill">*</span></label>               
                  <select id="ensurance" class="form-control">
                    <option selected>شعبه</option>
                    <option>اسلامشهر</option>
                    
                  </select>
              </div>
              <div class="col-md-3 data-column">
                  <label for="ensurance" class="data-title"> تحویل دهنده مدارک   <span class="need-fill">*</span></label>               
                  <select id="ensurance" class="form-control">
                    <option selected>ستاد کل 1</option>
                    <option>اسلامشهر</option>
                    
                  </select>
              </div>
          </div>
          <div class="card-title">
              اطلاعات معرفی نامه    
          </div>
          <div class="row">
            <div class="col-md-3 data-column">
                <div class="data-column-unit">
                <span class="data-title">  تاریخ اعتبار معرفی نامه :</span>
                <span class="data-info">1397/11/18</span>
              </div>
            </div>
            <div class="col-md-3 data-column">
            </div>
            <div class="col-md-3 data-column">
              </div>
              <div class="col-md-3 data-column">
                </div>

          </div>
          <div class=row>
            <div class="col-md-3 data-column">
                <label for="ensurance" class="data-title"> بیماری     <span class="need-fill">*</span></label>               
                <select id="ensurance" class="form-control">
                  <option selected> یک گزینه را انتخاب کنید</option>
                  <option>اسلامشهر</option>              
                </select>
            </div>
            <div class="col-md-3 data-column">
                <label for="ensurance" class="data-title"> تاریخ بستری     <span class="need-fill">*</span></label>               
                <input type="text" id="ensurecode" class="form-control datetime" value=""/> 
            </div>
            <div class="col-md-3 data-column">
              </div>
              <div class="col-md-3 data-column">
                </div>

          </div>
          <div class="row">
              <div class="col-md-3 data-column">
                  <label for="disease" class="data-title"> شرح بیماری    <span class="need-fill">*</span></label>               
                  <input type="text" id="mobile" class="form-control" value=""/> 
                </div>
                <div class="col-md-3 data-column">
                    <label for="disease" class="data-title"> توضیحات     <span class="need-fill">*</span></label>               
                    <input type="text" id="mobile" class="form-control" value=""/> 
                  </div>
                  <div class="col-md-3 data-column">
                      <label for="disease" class="data-title">  بیمه گر اول    <span class="need-fill">*</span></label>               
                      <select id="ensurance" class="form-control">
                          <option selected> یک گزینه را انتخاب کنید</option>
                          <option>اسلامشهر</option>              
                        </select>
                    </div>
                    <div class="col-md-3 data-column">
                        <label for="disease" class="data-title"> نام پزشک     <span class="need-fill">*</span></label>               
                        <input type="text" id="mobile" class="form-control" value=""/> 
                      </div>


          </div>
          <div class="row">
              <div class="col-md-3 data-column">
                  <label for="disease" class="data-title"> تخصص پزشک    </label>               
                  <input type="text" id="mobile" class="form-control" value=""/> 
                </div>
                <div class="col-md-3 data-column">
                  </div>
                  <div class="col-md-3 data-column">
                    </div>
                    <div class="col-md-3 data-column">
                      </div>

          </div>
          <div class="row">
              <div class="col-md-3 data-column">
                  <label for="disease" class="data-title"> فرانشیز بیماری   </label>               
                  <input type="text" id="mobile" class="form-control" value=""/> 
                </div>
                <div class="col-md-3 data-column">
                  </div>
                  <div class="col-md-3 data-column">
                    </div>
                    <div class="col-md-3 data-column">
                      </div>

          </div>
         
          <div class="login-submit">             
              <button type="submit" class="btn btn-default">  انصراف</button>
              <button type="submit" class="btn btn-default">مرحله بعد  </button>
          </div>


      </div>

     

  </div>
</div>

