/* You can add global styles to this file, and also import other style files */
 
.card{
    background-color: #e5e0d8 !important;
    margin-top:40px;
    box-shadow: 2px 2px 2px 2px rgba(27, 25, 25, 0.16) !important;
}
.card-title{
    border-bottom: 1px solid black;
    padding-top:15px;
}
.card-body{
    margin-top:10px;
}
.form label{
    display: block; 
    color:#5277CE; 
    margin-top:10px;
}
.form input,.data-column input, .data-column select{
    display: block; 
    width:100%;  
}
.need-fill{
    color:red;
}
.form-captcha{
    background-color:rgb(223,217,207) ;
    border :1px solid rgb(219,213,202);
    margin-top: 20px;
    padding:10px;
    border-radius: 5px;
}
/*
.login-image{
    background-image: url('/assets/images/loginpick.jpg') !important;
}
*/
.login-card{
    width:65%;
    position: absolute;
  margin: auto;
  margin-top:50px;
  right: 0;
 
  left: 0;
}

.container{
    min-height: 600px;
}
.login-submit{
    float:left;
    margin-left: 30px;
    margin-top:20px;
}
.login-submit button,.login-submit button:hover{
    background: rgb(239,179,72) !important;
    color: white;
}
.login-submit button:hover{
    box-shadow: 2px 2px 2px 2px rgba(27, 25, 25, 0.16) !important;
}
.forget-pass{
    margin-top:10px;
}
.login-pic{
    max-width:100%;
    margin: auto;
    display: block;
}
@media only screen and (max-width: 720px)  {
    .login-card{
        width: 80%;
    }
}

